.contact-form-container {
    width: 100%;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .heading {
    margin-top: 5px;
    text-align: center;

  }
  .heading{
    font-size: 5em;
    color:#e84949;
    padding-top:2rem ;
}
.sub-heading{
    font-size: 3rem;
    color:#343d68aa;
    text-transform: capitalize;
}
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  input[type="email"] {
    width: 100%;
  }
  
  textarea {
    height: 100px;
    resize: vertical;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .success {
    color: #2ecc71;
  }
  
  .error {
    color: #e74c3c;
  }
  
  /* Add some basic responsive styling */
  
  @media (max-width: 768px) {
    .contact-form-container {
      margin: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .contact-form-container {
      margin: 10px;
    }
  }