/* Navbar.css */
.navbar {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    display: flex; /* Make it a flex container */
    justify-content: space-between; 
    align-items: center; /* Vertically center elements */
  box-sizing: border-box;

  } .logo {
    color: black;
    font-size: 40px;
    font-weight: bold;
    margin-left: 40px
}
  
  .logo span {
    position: relative;
  }
  
  .logo span:first-child {
    transform: rotate(20deg);
  }
  
  .logo span:last-child {
    transform: rotate(-20deg);
  }
  
  .logo span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 70%;
    background-color: #fff;
}







   .navbar ul {
    list-style: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
  }
  
  .navbar li {
    margin-right: 30px; /* Add some space between list items */
  }
  
  .navbar a {
    color: rgb(7, 7, 7); /* White text color */
    text-decoration: none; /* Remove underline */
    transition: color 0.2s ease; 
    font-weight:1px;
    font-style:italic;
    font-size:22px;
  }
  
  .navbar a:hover {
    color:black;
  /* Light gray text color on hover */
  }
  
  .navbar a.active , .navbar a:focus {
    color: #667fef; /* Light blue text color for active link */
  }
  .navbar a:focus {
    outline: none;
    text-overflow:clip; /* Remove default focus outline *//* Add custom focus effect */
  }